#{{ansible_managed}}
#Minecraft server properties
accepts-transfers=false
allow-flight=false
allow-nether=true
broadcast-console-to-ops=true
broadcast-rcon-to-ops=true
bug-report-link=
debug=false
{% if paperMC_gamemode == 'creative' %}
difficulty={{ minecraft.server_properties.creative.difficulty | default('easy') }}
enable-command-block={{ minecraft.server_properties.creative.enable_command_block | default(false) }}
enable-jmx-monitoring={{ minecraft.server_properties.creative.enable_jmx_monitoring | default(false) }}
enable-query={{ minecraft.server_properties.creative.enable_query | default(false) }}
enable-rcon={{ minecraft.server_properties.creative.enable_rcon | default(false) }}
enable-status={{ minecraft.server_properties.creative.enable_status | default(true) }}
enforce-secure-profile={{ minecraft.server_properties.creative.enforce_secure_profile | default(false) }}
enforce-whitelist={{ minecraft.server_properties.creative.enforce_whitelist | default(false) }}
gamemode={{ minecraft.server_properties.creative.gamemode | default('survival') }}
initial-disabled-packs={{ minecraft.server_properties.creative.initial_disabled_packs | default([]) | join(',') }}
initial-enabled-packs={{ minecraft.server_properties.creative.initial_enabled_packs | default([]) | join(',') }}
level-seed={{ minecraft.server_properties.creative.level_seed }}
max-players={{ minecraft.server_properties.creative.max_players | default(20) }}
online-mode={{ minecraft.server_properties.creative.online_mode | default(true) }}
pvp={{ minecraft.server_properties.creative.pvp | default(true) }}
query.port={{ minecraft.server_properties.creative.query_port | default(25565) }}
rcon.port={{ minecraft.server_properties.creative.rcon_port | default(25575) }}
server-port={{ minecraft.server_properties.creative.server_port | default(25565) }}
{% elif paperMC_gamemode == 'survival' %}
difficulty={{ minecraft.server_properties.survival.difficulty | default('easy') }}
enable-command-block={{ minecraft.server_properties.survival.enable_command_block | default(false) }}
enable-jmx-monitoring={{ minecraft.server_properties.survival.enable_jmx_monitoring | default(false) }}
enable-query={{ minecraft.server_properties.survival.enable_query | default(false) }}
enable-rcon={{ minecraft.server_properties.survival.enable_rcon | default(false) }}
enable-status={{ minecraft.server_properties.survival.enable_status | default(true) }}
enforce-secure-profile={{ minecraft.server_properties.survival.enforce_secure_profile | default(false) }}
enforce-whitelist={{ minecraft.server_properties.survival.enforce_whitelist | default(false) }}
gamemode={{ minecraft.server_properties.survival.gamemode | default('survival') }}
initial-disabled-packs={{ minecraft.server_properties.survival.initial_disabled_packs | default([]) | join(',') }}
initial-enabled-packs={{ minecraft.server_properties.survival.initial_enabled_packs | default([]) | join(',') }}
level-seed={{ minecraft.server_properties.survival.level_seed }}
max-players={{ minecraft.server_properties.survival.max_players | default(20) }}
online-mode={{ minecraft.server_properties.survival.online_mode | default(true) }}
pvp={{ minecraft.server_properties.survival.pvp | default(true) }}
query.port={{ minecraft.server_properties.survival.query_port | default(25565) }}
rcon.port={{ minecraft.server_properties.survival.rcon_port | default(25575) }}
server-port={{ minecraft.server_properties.survival.server_port | default(25565) }}
{% else %}
difficulty={{ minecraft.server_properties.survival.difficulty | default('easy') }}
enable-command-block={{ minecraft.server_properties.survival.enable_command_block | default(false) }}
enable-jmx-monitoring={{ minecraft.server_properties.survival.enable_jmx_monitoring | default(false) }}
enable-query={{ minecraft.server_properties.survival.enable_query | default(false) }}
enable-rcon={{ minecraft.server_properties.survival.enable_rcon | default(false) }}
enable-status={{ minecraft.server_properties.survival.enable_status | default(true) }}
enforce-secure-profile={{ minecraft.server_properties.survival.enforce_secure_profile | default(false) }}
enforce-whitelist={{ minecraft.server_properties.survival.enforce_whitelist | default(false) }}
gamemode={{ minecraft.server_properties.survival.gamemode | default('survival') }}
initial-disabled-packs={{ minecraft.server_properties.survival.initial_disabled_packs | default([]) | join(',') }}
initial-enabled-packs={{ minecraft.server_properties.survival.initial_enabled_packs | default([]) | join(',') }}
level-seed={{ minecraft.server_properties.survival.level_seed }}
max-players={{ minecraft.server_properties.survival.max_players | default(20) }}
online-mode={{ minecraft.server_properties.survival.online_mode | default(true) }}
pvp={{ minecraft.server_properties.survival.pvp | default(true) }}
query.port={{ minecraft.server_properties.survival.query_port | default(25565) }}
rcon.port={{ minecraft.server_properties.survival.rcon_port | default(25575) }}
server-port={{ minecraft.server_properties.survival.server_port | default(25565) }}
{% endif %}
entity-broadcast-range-percentage=100
force-gamemode=false
function-permission-level=2
generate-structures=true
generator-settings={}
hardcore=false
hide-online-players=false
level-name=world
level-type=minecraft\:normal
log-ips=true
max-chained-neighbor-updates=1000000
max-tick-time=60000
max-world-size=29999984
motd=A Minecraft Server
network-compression-threshold=256
op-permission-level=4
pause-when-empty_seconds=-1
player-idle-timeout=0
prevent-proxy-connections=false
rate-limit=0
rcon.password=
region-file-compression=deflate
require-resource-pack=false
resource-pack=
resource-pack-id=
resource-pack-sha1=
server-ip=
simulation-distance=10
spawn-monsters=true
spawn-protection=16
sync-chunk-writes=true
text-filtering-config=
text-filtering-version=0
use-native-transport=true
view-distance=10
white-list=false
